body{
    height: 100%;
    min-height: 100%;
    margin: 0;
    min-width: fit-content;
    background-color: #edeef0;
}
.header, .footer{
    background-color: #551111;
}
.homeH3, .logOutH3, .footerTable, .hashTag {
    color: #fefac0;
}
img::selection {
    background: transparent;
}
.homeWrapper:hover, .userWrapper:hover, .logOutWrapper:hover{
    background-color: #aa2222;
}
.header{
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 666;
}
.homeWrapper{
     float: left;
    width: fit-content;
     min-width: 80px;
     height: inherit;
     background-color: inherit;
 }
.userAvatarWrapper{
    float: left;
    width: 60px;
    height: inherit;
    background-color: inherit;
}
.logOutWrapper{
    padding-right: 10px;
    float: right;
    width: 80px;
    height: inherit;
    background-color: inherit;
}
.userWrapper{
    float: right;
    width: fit-content;
    height: inherit;
    background-color: inherit;
}
.homeH3{

    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 14px;
}
.logOutH3{

    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 14px;
}
.headerLink{
    text-decoration: none;
    height: 50px;
    margin: 0;
}
.uploadPic{
    padding: 0 15px 0 15px;
    font-size: 50px;
    color: #fefac0;
}
.userAvatarPic{
    height: 50px;
    width: 50px;
    padding: 0 5px 0 5px;
}
.footer{
    height: 80px;
    width: 100%;
}
.footerTable{
    padding-top: 10px;
    padding-left: 15px;
    font-family: sans-serif;
    height: 100%;
    width: 500px;
    margin: auto;
}
.feedList{
    width: inherit;
    background-color: inherit;
    top: 50px;
    display: table-cell;
}
.postWrapper{
    background-color: #f9f9f9;
    width: 100%;
    height: fit-content;
    padding-bottom: 5px;
    margin: 0 0 10px 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.24);
}
.postWrapper::selection {
    background: transparent;
}
.postImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}
.posterInfo{
    padding-top: 8px;
}
h5.posterName{

    font-size: 16px;
    font-family: sans-serif;
    color: black;
    display: inline-block;
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}
p.postTime{
    font-size: 10px;
    font-family: sans-serif;
    color: #353b48;
    display: inline-block;
    float: right;
    margin-right: 45px;
}
.postTime::selection {
    background: transparent;
}
.likePanel{
    display: table-cell;
    height: inherit;
    position:relative;
    width: 36px;
}
.likeMask {
    -webkit-mask-image: url(favorite1.png);
    width:36px;
    height:36px;
    background-color: black;
    position: absolute;
    bottom: 25px;
    text-align: center;
    font-size: 20px;
}
.cancelMask{
    -webkit-mask-image: url(cancelSmall.png);
    width:12px;
    height:12px;
    background-color: white;
    display: inline-block;
    margin: 0 0 0 2px;
}
.cancelMask:hover{
    background-color: black;
}
.likeCount {
    width:36px;
    height:36px;
    position: absolute;
    bottom: 61px;
    text-align: center;
    font-size: 20px;
}
.likeCount::selection {
    background: transparent;
}
.liked{
    background-color: #B22222;
}
.likeMask:hover{
    background-color: #B22222;
}
.liked:hover{
    background-color: black;
}
.editMask {
    -webkit-mask-image: url(edit.png);
    width:36px;
    height:36px;
    background-color: #353b48;
    margin-bottom: 5px;
    float: top;
    position: absolute;
    top: 0;
}
.editMask:hover{
    background-color: black;
}
.removeMask {
    -webkit-mask-image: url(remove.png);
    width:36px;
    height:36px;
    background-color: #353b48;
    margin-bottom: 5px;
    position: absolute;
    top: 41px;
}
.removeMask:hover{
    background-color: black;
}
.postBodyHolder{
    height: 100%;
}
.hashTag{
    height: 20px;
    font-size: 16px;
    background-color: #40739e;
    border-radius: 8px;
    color: #fefac0;
    display: inline-block;
    padding: 0 5px 0 5px;
    margin: 0 3px 1px 2px;
    width: fit-content;
}
.hashTagHolder{
    padding-top: 5px;
}
.hashTag::selection {
    background: transparent;
}
.hashTagHolder::selection {
    background: transparent;
}
.picAndDescrHolder{
    border-right: 1px solid #e7e8ec;
    border-bottom: 1px solid #e7e8ec;
    padding-right: 2px;
    width: 420px;
    display: table-cell;
}

.informativeHeader{
    width: 500px;
    min-width: 500px;
    margin: auto;
    height: inherit;
}
.loadMoreText{
    text-align: center;
    display: block;
}
.loadMore{
    display: block;
    margin: auto;
    width: 300px;
    background-color: dimgrey;
    border-radius: 1px;
    height: 20px;
    color: #fefac0;
}
.filterHashTagContainer{
    margin: 20px 0 0 15px;
}
.loadMore:hover{
    background-color: black;
}
.loadMoreText::selection {
    background: transparent;
}
.filterButton{
    -webkit-mask-image: url(menu.png);
    float: right;
    width: 48px;
    height: 48px;
    background-color: dimgrey;
    z-index: 124;
}
.filterButton:hover{
    background-color: black;
}
.stickyFilterScroller{
    position: sticky;
    top: 65px;
}
.feedAndFilterHolder{
    margin: auto;
    width: 505px;
    padding-bottom: 7px;
    min-height: 100vh;
    height: fit-content;
}
.filterPanel{
    margin-right: 40px;
    height: inherit;
    position:relative;
    display: table-cell;
}
.postDescription{
    font-size: 22px;
    margin: 20px 10px 20px 50px;
    font-family: "Arial Rounded MT Bold";
}
.filter{
    position: absolute;
    right: 0;
    width: 300px;
    min-height: 400px;
    height: fit-content;
    background-color: #f9f9f9;
    border: black 1px solid;
    opacity: 0;
    transition: opacity 0.75s ease-out;
}
.fade{
    display: none;
}
.inputHolder{
    margin: 50px 0 0 20px;
    height: 26px;
    position: relative;
}
.inputField{
    display: inline;
    border-radius: 3px;
    height: 22px;
    width: 180px;
    margin-right: 35px;
    position: absolute;
    top: 0;
    padding-left: 10px;
}
.filterProps{
    margin-left: 15px;
    color: #231f20;
    font-size: 27px;
}
.filterApplyButton {
    margin: 20px 0 15px 20px;
     background: #551111;
     width: 200px;
     font-size: 16px;
     height: 40px;
     color: #fff;
     text-decoration: none;
     border: none;
     border-radius: 4px;
     box-shadow: 2px 2px #231f20;
 }
.filterApplyButton:hover {
    box-shadow: 3px 3px #231f20;
}
.filterApplyButton:focus{
    outline: none;
}
@media (min-width: 960px) {
    .informativeHeader {
        width: 850px;
        min-width: 850px;
    }
    .feedAndFilterHolder{
        width: 705px;
    }
    .footerTable{
        width: 850px;
    }
    .picAndDescrHolder{
        width: 610px;
    }
    .postImg{
        width: 610px;
    }

}
@keyframes fade {
     100% {display: none;}
 }
@keyframes show {
    100% {display: none;}
}
.modalWrapper{
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.editPostModalForm {
    z-index: inherit;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    top: 60px;
}